.signup-page{
    width: 300px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content:  center; */
    align-items: center;
    gap: 1rem;
}
.signup-page h1{
    font-weight: 500;
    font-size: 25px;
    margin-top: 15px;
}
.form-container{
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.signup-page input{
    width: 250px;
    height: 35px;
    padding: 10px;
    outline: none;
    border: 1.5px solid rgb(107, 102, 102);
    border-radius: 3px;
}
.btn{
    width: 250px;
    height: 35px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.signup-btn{
    background-color: #0065F8;
    color: white;
}
.account{
    font-size: 13px;
}
.signup-page span{
    color: #1e4bae;
    font-weight: 500;
    cursor: pointer;
}
.or{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    text-align: center;
}
.signup-page i{
    font-size: 20px;
}
.password{
    position: relative;
    width: 250px;
    height: 35px;
}
.password i{
    font-size: 13px;
    color: rgb(84, 83, 83);
    position: absolute;
    margin-top: 12px;
    margin-left: -22px;
    cursor: pointer;
}
.line-container{
    height: 1px;
    width: 110px;
    background-color: rgb(95, 91, 91);
}